{% extends 'base.html' %}


{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <h1 class="fs-1 fw-bolder">
                    All Authors
                </h1>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Number of Snippets</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for author in all_authors %}
                            <tr>
                                <td>{{ author }}</td>
                                <td>{{ author.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock %}